.api-container {
  color: $color-main;
  padding: 10px;
  justify-content: space-evenly;
}

.response-box {
  width: 100%;
  flex: 1;

  .editor-hidden {
    display: none;
  }
}

.api-title {
  display: block;
  padding: 10px;
  justify-content: flex-start;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  user-select: all;
}
