.api-container {
  color: $color-main;
  padding: 10px;
  justify-content: space-evenly;
}

.response-box {
  width: 100%;
  flex: 1;

  .editor-hidden {
    display: none;
  }
}

.api-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.api-input {
  flex: 1;
  outline: none;
  border: none;
  font-size: 16px;
  padding: 10px;
  overflow: hidden;
}

.api-button-active {
  outline: 2px solid $color-main;
  background-color: $color-secondary;
}
