.playground {
  background-color: $color-primary;
  height: calc(100vh - $header-max-height);
  width: 100%;
  padding: 10px;
  display: flex;
  gap: 10px;
  overflow-x: hidden;

  @include tablet {
    height: auto;
    min-height: calc(100vh - $header-height);
    overflow-y: auto;
  }

  @include mobile {
    padding: 5px;
    gap: 5px;
  }
}

.side-bar {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding-right: 10px;
  border-right: 1px solid $color-secondary;

  .executor-button {
    background-color: $color-positive;

    &:hover {
      background-color: rgba($color-positive, 0.9);
    }
  }

  @include mobile {
    padding-right: 5px;
  }
}

.playground-container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  background-color: $color-secondary;
  border-radius: 20px;
  overflow: hidden;

  @include tablet {
    flex-direction: column;
  }

  @include mobile {
    padding: 5px;
  }
}

.playground-section {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include tablet {
    flex: none;
    max-height: 100vh;
    height: 80vh;
  }
}

.schema-container {
  background-color: $color-primary;
  border-radius: 15px;
  gap: 0;
}

.schema-container-hidden {
  display: none;
}

.editor-box,
.api-box {
  background-color: $color-primary;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.editor-heading,
.schema-heading {
  display: flex;
  gap: 10px;
  padding: 10px;
  align-items: center;

  @include mobile {
    padding: 5px;
    gap: 5px;
  }
}

.editor-title,
.api-title,
.schema-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  padding: 0 10px;
  font-size: 20px;
  font-weight: normal;
  color: $color-main;
  margin: 0;
  overflow-x: auto;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &:hover {
    text-shadow: 0 0 1px $color-main;
  }

  @include mobile {
    font-size: 16px;
    padding: 0 5px;
  }
}

.editor-title-active,
.api-title,
.schema-title {
  background-color: $color-secondary;
}

.api-title {
  display: block;
  padding: 10px;
  justify-content: flex-start;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.query-container {
  .query-box {
    width: 100%;
    flex: 1;
  }

  .params-box {
    width: 100%;
    max-height: 35%;
  }

  .arrow-button {
    margin-left: auto;
  }

  .params-hidden {
    display: none;
  }
}

.response-container {
  .api-container {
    color: $color-main;
    padding: 10px;
    justify-content: space-evenly;
  }

  .response-box {
    width: 100%;
    flex: 1;
  }
}

.schemaError {
  position: relative;
  padding: 0 10px;
  color: $color-main;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px 0;

  &::-webkit-scrollbar {
    width: 0;
  }
}
