.status-marker {
  display: flex;
  gap: 10px;
}

.status-pin {
  position: relative;
  top: 3px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: $color-positive;
}

.error-pin {
  background-color: $color-negative;
}

.status-code {
  color: rgba($color-positive, 0.5);
}

.error-status-code {
  color: rgba($color-negative, 0.5);
}
