.status-marker {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 14px;
}

.status-pin {
  height: 12px;
  min-width: 12px;
  border-radius: 50%;
  background-color: $color-additional-2;
}

.status-code {
  color: rgba($color-additional-2, 0.5);
}

.error {
  background-color: $color-negative;
}

.success {
  background-color: $color-positive;
}

.error-code {
  color: rgba($color-negative, 0.5);
}

.success-code {
  color: rgba($color-positive, 0.5);
}
