$font-family-roboto: "Roboto", sans-serif;

$header-height: 60px;
$header-sticky-height: 50px;
$footer-height: 60px;

$content-width: 1600px;
$custom-content-one: 1480px;
$custom-content-two: 1380px;
$tablet-width: 1200px;
$custom-tablet-one: 900px;
$mobile-big-width: 640px;
$custom-mobile-big-width: 590px;
$custom-middle-width: 460px;
$mobile-small-width: 320px;

$color-primary: #202a3b;
$color-secondary: #303949;
$color-main: #caccd0;
$color-positive: #2cab7d;
$color-negative: #cb3837;
$color-additional-1: #ff6b8b;
$color-additional-2: #ec9b00;
$color-additional-3: #5f89d8;
