$header-height: 90px;
$footer-height: 200px;

$desktop-max-width: 1920px;
$desktop-min-width: 1440px;

$laptop-max-width: 1439px;
$laptop-min-width: 1024px;

$tablet-max-width: 1023px;
$tablet-min-width: 768px;

$mobile-max-width: 767px;
$mobile-min-width: 320px;

$max-content-width: 1260px;
$min-content-width: 300px;

$color-primary: #202a3b;
$color-secondary: #303949;
$color-main: #caccd0;
$color-positive: #2cab7d;
$color-negative: #cb3837;
$color-additional-1: #ff6b8b;
$color-additional-2: #ec9b00;
$color-additional-3: #5f89d8;
$color-additional-4: #a836d6;
