.editor-control {
  background-color: $color-primary;
  border-radius: 15px;
  overflow: hidden;

  display: flex;
  justify-content: space-between;

  .editor-container {
    flex: 1 1 0%;
    padding: 10px;
    color: $color-main;

    .editor-title {
      font-size: 24px;
      color: $color-main;
      padding: 0 10px 10px;
      margin: 0;
    }

    .editor-content {
      height: 100%;
      width: 100%;
    }
  }

  .control-panel {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
