.user-auth {
  padding: 20px;
  background-color: $color-secondary;
  border-radius: 10px;
}

.container {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.login-link {
  text-decoration: none;
}

.explore-button {
  background-color: $color-primary;
  transition: outline 0.3s;

  &:hover {
    outline: 1px solid $color-main;
  }
}
