.playground {
  background-color: $color-primary;
  height: calc(100vh - $header-height);
  width: 100%;
  padding: 10px;
  display: flex;
  gap: 10px;
  overflow-x: hidden;
}

.side-bar {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding-right: 10px;
  border-right: 1px solid $color-secondary;

  .executor-button {
    background-color: $color-positive;

    &:hover {
      background-color: rgba($color-positive, 0.9);
    }
  }
}

.playground-container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  background-color: $color-secondary;
  border-radius: 20px;
  overflow: hidden;
}

.playground-section {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.schema-container {
  background-color: $color-primary;
  border-radius: 15px;
  gap: 0;
}

.schema-container-hidden {
  display: none;
}

.editor-box,
.api-box {
  background-color: $color-primary;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.editor-heading,
.schema-heading {
  display: flex;
  gap: 10px;
  padding: 10px;
  align-items: center;
}

.editor-title,
.api-title,
.schema-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  padding: 0 10px;
  font-size: 20px;
  font-weight: normal;
  color: $color-main;
  margin: 0;

  &:hover {
    text-shadow: 0 0 1px $color-main;
  }
}

.editor-title-active,
.api-title,
.schema-title {
  background-color: $color-secondary;
}

.api-title {
  justify-content: flex-start;
}

.query-container {
  .query-box {
    width: 100%;
    flex: 1;
  }

  .params-box {
    width: 100%;
    max-height: 35%;
  }

  .arrow-button {
    margin-left: auto;
  }

  .params-hidden {
    display: none;
  }
}

.response-container {
  .api-container {
    color: $color-main;
    padding: 10px;
    justify-content: space-evenly;
  }

  .response-box {
    width: 100%;
    flex: 1;
  }
}

.center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.none {
  display: none;
}
