.rectangular-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 10px;
  border-radius: 8px;
  background-color: $color-secondary;
  color: $color-main;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;

  &:hover {
    text-shadow: 0 0 1px $color-main;
    background-color: $color-secondary;
  }

  &:active {
    outline: 2px solid $color-main;
  }
}

.rectangular-button-active {
  outline: 2px solid $color-main;
}
