.header {
  height: 65px;
  background-color: #000;
  transition: all 0.5s;
  color: #fff;
}

.sticky {
  top: 0px;
  position: sticky;
  background-color: rgb(176, 176, 176);
  color: #000;
  height: 50px;
}

.container {
  margin: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logout {
  cursor: pointer;
}
