.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0px;
  background-color: $color-primary;
  padding: 15px 0;
  transform: translateY();
  transition: background 0.5s, padding 0.4s;

  .language {
    background-color: $color-secondary;
    height: 40px;
    border-radius: 8px;
  }

  .auth {
    background-color: $color-secondary;
  }
}

.sticky {
  padding: 0;
  background-color: $color-secondary;

  .inverted {
    background-color: $color-primary;
  }
}

.container {
  height: calc($header-height - 30px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
