.footer {
  margin-top: auto;
  background-color: $color-primary;
  height: $footer-height;
  padding: 30px 0;

  @include tablet {
    height: auto;
  }
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;

  @include mobile {
    flex-direction: column;
  }
}

.copyright {
  align-self: flex-end;
  color: $color-main;

  span {
    font-size: 25px;
    letter-spacing: 3px;
  }

  @include mobile {
    align-self: center;
    order: 1;
  }
}

.course-logos {
  display: flex;
  align-items: center;
  gap: 20px;

  .rss-logo {
    height: 50px;
    transition: filter 0.3s ease-out;

    &:hover {
      filter: drop-shadow(0 0 2px $color-main);
    }
  }

  @include mobile {
    flex-direction: column;
  }
}

.authors {
  display: flex;
  gap: 10px;
  flex-direction: column;

  @include mobile {
    align-self: center;
  }
}

.github-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  color: $color-main;
  gap: 5px;
  text-decoration: none;

  span {
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s linear;

    @include tablet {
      transform: scaleX(1);
    }
    @media (hover: none) {
      transform: scaleX(1);
    }
  }

  .github-logo {
    fill: $color-main;
    transition: fill 0.3s linear, transform 0.5s linear;
  }

  &:hover {
    span {
      transform: scaleX(1);
    }

    .github-logo {
      transform: rotate(360deg);
      fill: #fff;
      filter: drop-shadow(0 0 2px $color-main);
    }
  }
}

.github-logo {
  fill: $color-main;
  transition: fill 0.3s linear, transform 0.7s linear;

  &:hover {
    transform: rotate(360deg);
    fill: #fff;
    filter: drop-shadow(0 0 2px $color-main);
  }
}
