.footer {
  background-color: $color-footer-background;
  height: $footer-height;
}

.logoRss {
  height: 50px;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: $content-width;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  color: #fff;
  font-size: 20px;
}

.github {
  height: 50px;
}

.ghContainer {
  display: flex;
  gap: 7px;
}
