.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.text-input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  color: $color-main;
  background-color: $color-primary;
  outline: none;
  border: none;
  border-radius: 8px;
  transition: border-color 0.3s ease-in-out;

  &:focus {
    outline: none;
  }
}

.input-error {
  outline: 1px solid $color-negative;
}

.input-error-message {
  color: $color-negative;
  font-size: 14px;
}
