.auth-welcome {
  background-color: #232dea;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  height: 2rem;

  &:hover {
    transform: scale(1.05);
    text-decoration: solid;
  }
}

.text-underline {
  width: 100%;
  border-bottom: 1px solid #0000003f;
  text-align: left;
  padding-top: 1rem;
}

.developers-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 0;
}
