.welcome {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 10px;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.heading-title {
  font-size: 55px;

  @include tablet {
    font-size: 40px;
  }
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-content {
  margin: 20px 30px;
  background-color: $color-secondary;
  padding: 20px;
  border-radius: 15px;

  @include tablet {
    margin: 10px 20px;
    font-size: 16px;
    padding: 10px;
  }
}

.text-underline {
  width: 100%;
  font-size: 40px;
  border-bottom: 1px solid $color-main;

  @include tablet {
    font-size: 30px;
  }
}

.layered-text {
  position: relative;
  color: $color-main;
  font-weight: bold;
  -webkit-text-stroke: 1px $color-secondary;

  &::before,
  &::after {
    font: inherit;
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
  }

  &:hover::before {
    z-index: 1;
    color: $color-positive;
    -webkit-text-stroke: 1px $color-secondary;
    translate: 5px -5px;
  }

  &:hover::after {
    z-index: 2;
    color: $color-additional-4;
    -webkit-text-stroke: 1px $color-secondary;
    translate: 10px -10px;
  }
}

.developers-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
