.editor-container {
  width: 100%;
  flex: 1;
  min-height: 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;

  .editor-content {
    flex: 1;
    min-width: 0;
    min-height: 0;
    padding: 0 0 10px;
    color: $color-main;
  }

  .control-panel {
    padding: 35px 10px 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .language-title {
      position: absolute;
      font-size: 16px;
      color: rgba($color-main, 0.5);
      top: 0;
      right: 10px;
    }
  }
}
