:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background-image: url("./assets/gallery_background.jpg");
  background-size: auto;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.wrapper {
  max-width: 1220px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
