*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 400;
}

body {
  min-width: 320px;
}

#root {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  max-width: $max-content-width;
  min-width: $min-content-width;
  margin: 0 auto;
  padding: 0 30px;

  @include mobile {
    padding: 0 10px;
  }
}
