.params-box {
  width: 100%;
  max-height: 35%;
}

.params-box-open {
  height: 35%;
  transition: all 0.5s;
}

.arrow-button {
  margin-left: auto;
}

.params-hidden {
  display: none;
}

.params-title {
  background-color: $color-primary;
}

.params-active-title {
  background-color: $color-secondary;
}
